# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Web
web/node_modules/
web/.next/
